$wordpress-comments-avatar-size: 64px !default;

.comment-list {
  list-style: none;

  .children {
    list-style: none;
    padding-left: 2rem;
  }
}


.comment-body {

  .avatar {
    position: absolute;
    left: 0;
    top: 0;
    width: $wordpress-comments-avatar-size;
    height: $wordpress-comments-avatar-size;
    border-radius: 999rem;
  }



  .reply {
    margin-top: 1rem;
    margin-left: 66px;
  }
}

.comment-meta {
  position: relative;
}

.comment-metadata {
  position: absolute;
  top: 0;
  right: 0;
  font-size: $size-7;

  time {
    color: $grey-dark;
  }
}

.comment-meta,
.comment-content {
  padding-left: $wordpress-comments-avatar-size + 16px;
}

.comment {
  &:not(:last-child) {
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid $border;
  }
}

.children {
 > .comment {
    margin-top: 2rem;
    padding-top: 2rem;
    border-top: 1px solid $border;
  }
}

.comment-reply-title {
  @extend .title !optional;
}

.form-submit {
  margin-top: 1rem;
  .submit {
    @extend .button !optional;
    @extend .button.is-primary !optional;
  }
}
