$wordpress-comments-avatar-size: 64px;

.comment-list {
  list-style: none;
}

.comment-body {

  .avatar {
    position: absolute;
    left: 0;
    top: 0;
    width: $wordpress-comments-avatar-size;
    height: $wordpress-comments-avatar-size;
  }

  .reply {
    text-align: right;
  }
}

.comment-meta {
  position: relative;
}

.comment-metadata {
  position: absolute;
  top: 0;
  right: 0;
  font-size: $size-7;
}

.comment-meta,
.comment-content {
  padding-left: $wordpress-comments-avatar-size + 16px;
}

.comment {
  &:not(:last-child) {
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid $border;
  }
}

.comment-reply-title {
  @extend .title !optional;
}

.form-submit {
  margin-top: 1rem;
  .submit {
    @extend .button !optional;
    @extend .button.is-primary !optional;
  }
}
