
$entry-breakpoint: $tablet !default;

.entry.is-loop {
  @include until($entry-breakpoint) {
    flex-direction: column;
    .media-left,
    .media-right {
      margin-left: auto;
      margin-right: auto;
    }
  }

}

.entry-summary,
.entry-content {
  // Block
  p,
  dl,
  ol,
  ul,
  blockquote,
  pre,
  table {
    &:not(:last-child) {
      margin-bottom: 1em;
    }
  }

  .title {
    color: currentColor;
  }

  ol {
    list-style-position: outside;
    margin-left: 2em;
    margin-top: 1em;

    &:not([type]) {
      list-style-type: decimal;

      &.is-lower-alpha {
        list-style-type: lower-alpha;
      }

      &.is-lower-roman {
        list-style-type: lower-roman;
      }

      &.is-upper-alpha {
        list-style-type: upper-alpha;
      }

      &.is-upper-roman {
        list-style-type: upper-roman;
      }
    }
  }

  ul {
    list-style: disc outside;
    margin-left: 2em;
    margin-top: 1em;

    ul {
      list-style-type: circle;
      margin-top: 0.5em;

      ul {
        list-style-type: square;
      }
    }
  }
}

.entry-meta-item {
  display: inline-block;

  &:not(:last-child) {
    margin-right: 1em;
  }
}
